# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

API_KEY=YOUR_API_KEY
API_KEY_VT=YOUR_API_KEY_VT
API_KEY_VULNERS=YOUR_API_KEY_VULNERS
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID
# Путь к файлу дампа памяти
MEMORY_DUMP_PATH=YOUR_MEMORY_DUMP_PATH

# Путь к PCAP файлу (если нужно)
PCAP_FILE_PATH=YOUR_PCAP_FILE_PATH