# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

API_KEY=YOUR_API_KEY

# Путь к файлу дампа памяти
MEMORY_DUMP_PATH=YOUR_MEMORY_DUMP_PATH

# Путь к PCAP файлу (если нужно)
PCAP_FILE_PATH=YOUR_PCAP_FILE_PATH